* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 220px;
  background: #7D1424;
  position: relative;
}

body, html {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 500px;
  padding-top: 30px;
  background: #FFFCE6;
}

.espace {
  padding-top: 40px;
}

.ajust {
  padding-left: 15px;
}
